{% extends "base.html" %}

{% block content %}

<h1>List of Last 5 Blogs Added</h1>
<form action="/list" method="post">
{% for blog in blogs %}
    <div class="blog">
        <hr>
        <div><label>
                    <strong>Blog Title:&emsp;&emsp;&emsp;&emsp;</strong>
                          <a href="/blog/{{blog.key().id()}}">
                              {{blog.title}}
                          </a>
             </label>
        </div>
        <br>
        <div class=blog-title>
            <strong>Blog Contents:</strong>
        </div>
        <div class="blog-body">

                {{blog.blog}}

        </div>
    </div>
{% endfor %}
</form>

{% endblock %}
